* {
    box-sizing: border-box;
}

.login-con {
    width: 400px;
    height: 323px;
    margin: 0 auto;
    border: 5px solid lightskyblue;
    padding: 20px;
}

#downloadBtn {
    margin-top: 30px;
    padding: 13px 21px 13px 21px;
}

.register-con {
    width: 452px;
    margin: 0 auto;
    border: 5px solid lightskyblue;
    padding: 20px;
}

.skill-con {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid lightskyblue;
}

.edit-con {
    width: 462px;
    margin: 0 auto;
    border: 5px solid lightskyblue;
    padding: 20px;
}